.page-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .header-home-icon {
    margin-left: 20px;
    width: 75px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    li {
      margin: 0 20px;

      @media only screen and (max-width: 575px) {
        margin: 0 5px;
      }

      img {
        width: 30px;
      }

      a {
        text-decoration: none;
        font-weight: bold;

        @media only screen and (max-width: 575px) {
          display: none;
        }
      }

      a:link,
      a:visited {
        color: #999;
      }

      a.active {
        padding-bottom: 10px;
        border-bottom: 2px solid green;
      }

      &.burger-menu-button {
        @media only screen and (min-width: 575px) {
          display: none;
        }
      }
    }
  }
}
