* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #eee;
}

.layout-container {
  margin: auto;
  min-height: 100vh;
  position: relative;

  @media only screen and (max-width: 575px) {
    max-width: 100%;
  }

  @media only screen and (max-width: 767px) {
    max-width: 540px;
  }

  @media only screen and (max-width: 991px) {
    max-width: 720px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.content-container {
  padding: 10px;
  padding-bottom: 100px;
}
