.personal-info {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;

  img {
    width: 175px;
    border-radius: 50%;
    border: 1px solid #aaa;
  }

  @media only screen and (max-width: 500px) {
    display: block;
    .personal-info-image {
      text-align: center;
    }
    img {
      justify-content: center;
      width: 40%;
    }
  }

  .details-list {
    margin-left: 20px;
    width: 100%;

    @media only screen and (max-width: 500px) {
      margin-left: 0;
    }

    .details-list__item {
      display: inline-block;
      width: 33.3%;
      margin: 15px 0;

      &:nth-child(odd) {
        padding-right: 5px;
      }
      &:nth-child(even) {
        padding-left: 5px;
      }

      @media only screen and (max-width: 500px) {
        width: 50%;
      }

      .key {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}
